/*** General tag styles ***/
body {background-color:;
	font-size:100%;}

h1 {color: #433939;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.2em;
	margin: 0px;}

h2 {color: #433939;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.25em;}

p,input,form {color: #433939;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*font-size: 0.7em;*/
	font-size: 0.8em;
	line-height: 150%;
	margin-top: 4px;
	margin-bottom: 4px;}

p.italic {font-style:italic;}

a {text-decoration:none;}

a:link {color: #433939;}

a:visited {color: #433939;}

a:hover {color: #E280A4;}

img {border-style:none;}

tr {margin: 0px;
	padding: 0px;}
	
.finished {text-decoration: line-through;}

#race {position: absolute; top: 10px; left: 450px;}

.playertasks {position: relative; left: 25px;}

#player {width: 200px;}

/*.block {
  position:relative;
  left:200px;
  width:500px;
  margin:5px;
}*/

.block2{
  position:absolute;
  left:200px;
  width:400px;
  height:90px;
  margin:5px;
} 



#wrap {
	width: 1200px;
}

#left-column {
	width: 350px;
	float: left;
}

#right-column {
	width: 850px;
	float: right;
}
